@import url("reset.css");


/* основні стилі */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	background: #fff;
	font-size: 20px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 75rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

[class*="--margin"] {
	margin-bottom: 0.9375rem;
}

.page {
	padding: 30px;
}


/* ----------------------- */

header,
footer,
.main__title {
	min-height: 50px;
	background-color: rgb(153, 158, 156);
	text-align: center;
	font-size: 36px;
	padding: 10px;
}

header {
	margin-bottom: 10px;
}

/* ----------------------- */

h2{
	font-size: 24px;
	margin-bottom: 15px;
}
input {
	max-width: 150px;
	border: 1px solid rgb(85, 83, 83);
}

button{
	min-width: 150px;
	padding: 3px;
	border: 1px solid rgb(85, 83, 83);
	background-color: rgb(173, 170, 170);
	border-radius: 8px;
	margin-bottom: 15px;
}
img{
	width: 300px;
}

/* div{
	margin-bottom: 15px;
} */