.active{

	border: 2px solid #28a745;
	padding: 20px;
	border-radius: 10px;
}
.notactive{
	border: 2px solid white;
	padding: 20px;
	border-radius: 10px;
}
.indicator{
	height: 20px; 
	text-align: center;
	padding: 10px;
}