span{
	width: 50px;
	height: 30px;
	border: 1px, solid, black;
	background-color: gray;
}

.section{
	display: flex;
	gap: 20px;
	
}

.section span{
	
	background-color: rgb(218, 213, 213);
}

