
.correctly{
	border: 2px solid green;
	padding:40px;
}
.error{
	border: 2px solid red;
	padding:40px;
}

.container{
	border: 1px solid black;
 	padding: 50px 200px;
  	margin-bottom: 30px;
}