.container{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	border: 1px solid rgb(88, 87, 87);
}
button{
	padding: 10px;
	border: 1px solid rgb(88, 87, 87);	
	background-color: rgb(167, 165, 165);
}